{% extends 'base.html' %}
{% load static %}
{% block title %}
    <title>Product</title>
{% endblock %}
{% block content %}
<div class="container">

<center><img src="{{item.image.url}}" height="20%" width="50%" class="image" alt="image">
  <h2 class="mt-2">{{item.name}}</h2>
<p>{{item.desc}}</p></center></div>
<div class="container">
  <div class="row">
    {% for i in product %}
    <div class="col-sm-3 mt-4"><div class="card mx-auto" style="width: 18rem;height:430px">
  <img src="{{ i.image.url }}" width="auto" height="250px" class="card-img-top" alt="product image">
  <div class="card-body d-flex flex-column justify-content-between">
    <h5 class="card-title text-center">{{i.name}}</h5>
    <p class="card-text text-center fw-bold">₹{{i.price}}</p>
    <div class="mt-auto">
    <center><a href="{% url 'shop:productdetails' i.id %}" class="btn btn-primary">Shop Now</a></center></div>
  </div>
</div></div>
    {% endfor %}
  </div>
</div>

{% endblock %}

